
body{
    color: rgb(200,200,200) ;
    background-color: rgb(0,0,0);
    font-family: 'Source Sans Pro', sans-serif;
    font-size: medium ;
}



.container{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
    width:90%;
    margin:0px auto;
    align-content: space-between;
}

.flex{
    width:22%;
    padding: 10px;
    margin-bottom: 2%;
}


.first-header{
    display:flex;
    justify-content: flex-start;
}


/* First Box */

.logo-image{
    width:58px;
    height: 48px;
    display: inline;
    padding-top:10px;
}

.flex-header{
    margin-bottom:10%;
    margin-top:5%;
}

.flex-header-text{
    display: inline;
    color: rgba(253, 253, 253, 1);
    font-family: 'Taviraj', serif;
    font-size: x-large;
    font-weight: 600;
    font-stretch: semi-expanded  

}
.brand-name{
    font-size: xx-large;
}

.content-desc{
    line-height: 1.75;
}


.flex-header-desc{
    margin-top:unset !important;
    font-weight: lighter;
}


/* Second Box */

.flex-header-2{
    margin-bottom:10%;
    margin-top:9%;
}

.second-list{
    list-style: none;
    color: rgb(200,200,200);
    padding-left:15px !important;
}

.second-li::before {
    content: "\2022";
    color: red;
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
}

.second-li{
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(200,210,200,0.5);
}

.second-li:last-child{
    border: none;
}


/* Third Box */

.flex-content-third{
    color: rgb(200,200,200) ;
    text-align: left;
    
    line-height: 1.75;
    padding-right: 10px;
}



.email-input{
    padding:15px;
    border-radius:2px;
    font-size: 16px;
    border:none;
    width:78%;
  background-color:rgb(54,54,54);
   color: rgb(158,158,158);
}


.submit-button{
    background-color:rgb(236,45,47);

    border: none;
    color:white;
    padding: 9px 16px 13px 16px;
    font-size:22px;
    margin-left: -5px;
    border-radius: 0px 2px 2px 0px;
    z-index: 1 !important;
}



/* Fourth Box */

.fourth-content{
    padding:0px 45px 0px 0px;
    
}
.tag-box{
    color: rgba(253, 253, 253, 0.664);
    background-color: transparent;
    border: 0.8px solid rgba(240,240,240,0.7);
    padding: 5px 15px;
    font-size: 18px;
    margin: 3px;
}




/* Fifth Box */
.fifth-content{

    padding-left:65px;
    color: rgba(253, 253, 253, 0.664);

}




.five-items{
    list-style-type: none;
    font-size: 18px;
    padding-right:35px;
 }
 
 .five-items::before {
        content: '';
        display: inline-block;
        height: 90px;
        width: 90px;
        background-image: url('images/lowres.jpg');
        background-size: contain;
        background-repeat: no-repeat;
        margin-left: -105px;
        margin-bottom: -95px;
        border-radius: 50px;
        
}

.five-items p{
    margin-top:0;

    padding-right:25%;
}



.fifth-sm{
    color: rgba(221, 28, 28, 0.966);
}

.border{
    width:120%;
    margin-left: -100px;
    border: 0.5px solid gray;
    
}



/* Sixth Box */

.sixth-flex{
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px ;   
}



.flex-images-div{
    width:27%;
    background-color: rgba(221, 28, 28, 0.566);
    margin: 1.5%;
    text-align: center;
    min-height: 110px;
}

.flex-images{
    width:60%;
    height:80%;
    margin: 10px 0px;
}


/* Seventh Box */
.form-wrapper{
    padding-top:35px;
}

.contact-input{

    padding:15px;
     margin-bottom: 20px;
    border-radius:2px;
    font-size: 16px;
    border:none;
    width:90%;
    background-color: rgb(54,54,54);
    color: rgb(158,158,158);

}

.text-area1{
    padding:15px;
    margin-bottom: 20px;
   border-radius:2px;
   font-size: 18px ;
   border:none;
   width:90%;
   background-color:rgb(54,54,54);
   color: rgb(158,158,158);
   
   font-family: 'Source Sans Pro', sans-serif;
}

.message-btn{
    width:100%;
    background-color:rgb(236,45,47);
    border:none;
    border-radius:3px;
    padding: 15px;
    font-size:18px;
    margin-top:10px;
    color: rgba(253, 253, 253, 1);
}

/* Eighth Box */
.last-content{
    padding-top:22px;
}
.image-1{
    width:30%;
    padding:1.3%;
}